.fontcolor{
    color: black;
    background-color: white;
}
.task{
    border: 3px black solid;
    padding-bottom: 10px;
    border-style: double;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}
    .calculator-container{
        display: flex;
        justify-content: center;
        align-items: center;
        
        background-color:rgb(63, 141, 56);
    
    }
    .calculator{
        position: relative;
        display: grid;
    }
    .calculator .value{
        grid-column: span 4;
        height: 100px;
        text-align: right;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 18px;
        
    }
    form{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .calculator span{
        display: grid;
        width: 60px;
        height: 60px;
        color: #fff;
        background: #8d991d;
        place-items: center;
        border: 1px solid rgba(0,0,0,.1);
    }
    .calculator span:active{
        background-color: sandybrown;
        color: #111;
    }
    .calculator span.clear{
        grid-column: span 2;
        width: 120px;
        background-color: rgb(202, 174, 81);
    }
    .calculator span.plus{
        grid-row: span 2;
        height: 120px;
    }
    .calculator span.equal{
        background-color: rgb(105, 128, 0);
    }
    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
    .zaokraglonyKwadrat{
        width: 90px;
        height: 90px;
        background-color: rgb(12, 103, 131);
        
    }
    .wysrodkuj{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    
    }
    #Task19A {
        width: 50px;
        height: 50px;
        position: absolute;
        background-color: red;
      }
      #cont {
        width: 400px;
        height: 400px;
        position: relative;
        background: yellow;
      }
      